# See https://help.github.com/ignore-files/ for more about ignoring files.

# boilerplate

#react-custom-app
/react-custom-app/node_modules

#react-ts-app
/react-ts-app/node_modules

#react-h5game-app
/react-h5game-app/node_modules

#react-parcel
/react-parcel/node_modules
/react-parcel/dist
/react-parcel/.cache

#react-fastify
/react-fastify/node_modules
/react-fastify/.next

/react-samples


/react-router-redux-app/node_modules


# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
