html, body {
  height: 100%;
}

#root {
  background: #5f0202;
  height: 100%;
}

.banner ul li {
  position: relative;
  float: left;
}


.switch-wrapper {
  position: relative;
  width:100%;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height:100%;
  overflow:auto;
}